/* CUSTOM PROPERTY */
:root {
  --accent-color: #000000;
  --primary-color: #2e2e2e;
  --font-family-bebas-neue: "Bebas Neue", "Arial", sans-serif;
  --font-family-urbanist: "Urbanist", "Arial", sans-serif;
}

/* GLOBAL STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1530px;
  height: 100vh;
  max-height: 717px;
  margin: 0 auto;
  font-style: normal;
  display: flex;
}

.container section {
  width: 50%;
}

/* REGISTER-FORM-WRAPPER */

.register-form-wrapper {
  padding: 45px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ruix-logo {
  width: 100px;
  margin-bottom: 10px;
}

.register-form-title {
  color: var(--accent-color);
  font-size: 62px;
  font-family: var(--font-family-bebas-neue);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.register-form-subtitle {
  color: var(--accent-color);
  font-size: 18px;
  font-family: var(--font-family-urbanist);
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.register-form {
  width: 420px;
  display: flex;
  flex-direction: column;
}

.register-form > input,
.country-select,
.country-select option {
  width: 420px;
  height: 48px;
  padding: 20px 19px;
  border-radius: 6px;
  border: 1px solid var(--accent-color);
  margin-bottom: 18px;
  color: var(--primary-color);
  font-size: 16px;
  font-family: var(--font-family-urbanist);
  font-weight: 400;
  line-height: normal;
  outline: none;
}

.country-select {
  border: 1px solid var(--accent-color);
}

.register-form > input:focus {
  border: 1px solid #fec00f;
}

.register-form > input:valid {
  border: 1px solid var(--accent-color);
}

.email-input:not(:placeholder-shown) {
  border: 1px solid red;
}

.email-input:valid {
  border: 1px solid var(--accent-color);
}

.country-select {
  padding: 14px 16px;
}

.country-input:disabled {
  display: none;
}

.remember-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.remember-checkbox {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  margin-right: 6px;
}

.remember-label {
  color: var(--accent-color);
  font-size: 16px;
  font-family: var(--font-family-urbanist);
  font-weight: 400;
  line-height: normal;
}

.register-button {
  width: 420px;
  height: 50px;
  flex-shrink: 0;
  border: none;
  border-radius: 30px;
  background: var(--accent-color);
  color: #fff;
  font-size: 16px;
  font-family: var(--font-family-urbanist);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.register-button:hover {
  opacity: 0.8;
}

.register-button:active {
  opacity: 0.6;
}

.log-in-button {
  color: var(--accent-color);
  font-size: 12px;
  font-family: var(--font-family-urbanist);
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.log-in-button:hover {
  opacity: 0.8;
}

.log-in-button:active {
  opacity: 0.6;
}

.log-in-button span {
  color: #fec00f;
}

/* REGISTER-IMG-WRAPPER */

.register-img-wrapper {
  overflow: hidden;
}

.register-img {
  width: 100%;
  object-fit: cover;
}
